@model IEnumerable<SteamTime.Models.SteamGame>
@{
    ViewData["Title"] = "Update Steam Database";
    
    
}

<h2>@ViewData["Title"]</h2>

The list has been updated, click here to go back to home.

<button asp-action="Index" class="btm btm=default">Home</button>
