@model IEnumerable<SteamTime.Models.SteamGame>
@{
    ViewData["Title"] = "Update Steam Database";
    
    
}

<h2>@ViewData["Title"]</h2>


<p>The list has been updated, click in the button to go back to home.</p>

<a asp-action="Index" class="btn btn-primary">Home</a>
